/*CSS样式重置*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;  /*兼容webkit浏览器*/
}
body{
    font-family:"Microsoft YaHei","tahoma,arial","Hiragino Sans GB","\\5b8b\4f53","sans-serif";
    /*font-size: 4vw;*/
    color: #000;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
input{
    border: none;
    outline: none;
}
/*公共样式*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.fz18{
    font-size: .20rem;
}
.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
img{
    width: 100%;
    height:100%;
}
.inline-block{
    display: inline-block;
}
.ml10{
    margin-left: 0.06rem;
}
.matop_none{
 border-top:.01rem solid transparent!important;
}