body {
  font-size: 0.14rem;
}

.content {
  background: #f6f7f9;
  padding-bottom: 0.03rem;
}

header, .banner {
  width: 6rem;
}

//header
header {
  height: .76rem;
  margin: auto;
  padding-top: .18rem;
  padding-bottom: .19rem;
  .logo-a {
    width: 33%;
    h1 {
      width: 1.53rem;
      height: .33rem;
      margin-top: 0.06rem;
      margin-left: 0.1rem;
    }
  }
  .boy-gril {
    width: 47%;
    line-height: .4rem;
    padding: 0 .2rem;
    font-size: .23rem;
    a {
      display: inline-block;
      line-height: .41rem;
      padding-left: .18rem;
      padding-right: .18rem;
      margin-left: -.1rem;
      color: #ed424b;
      border: 1px solid #ed424b;
    }
    .boy {
      border-top-left-radius: .1rem;
      border-bottom-left-radius: .1rem;
    }
    .gril {
      border-top-right-radius: .1rem;
      border-bottom-right-radius: .1rem;
    }
    .bg-red {
      background: #ed424b;
      color: #fff;
    }
  }
  .user-book {
    width: 20%;
    a {
      display: inline-block;
      width: .5rem;
      height: .5rem;
    }
    .user {
      background: url(../img/user_book.png) .05rem .01rem no-repeat;
      background-size: 1rem .4rem;
    }
    .book {
      background: url(../img/user_book.png) -.55rem .01rem no-repeat;
      background-size: 1rem .4rem;
    }
  }
}

//轮播开始
.banner {
  height: 2.5rem;
  margin: auto;
  margin-bottom: 0.1rem;
  //padding: .5em .315rem;
  overflow: hidden;
  ul {
    width: 34rem;
    height: 2.5rem;
    overflow: hidden;
    li {
      width: 6rem;
      height: 2.5rem;
      float: left;
      a{
        img{
          width: 6rem;
        }
      }
    }
  }
}

//搜索
.search-guide {
  font-size: .2rem;
  line-height: .55rem;
  display: block;
  margin: .1rem .2rem;
  text-align: center;
  color: #969ba3;
  border-radius: .07rem;
  background-color: #fff;
  .sousuo {
    width: .25rem;
    line-height: .5rem;
    display: inline-block;
    img {
      vertical-align: middle;
    }
  }
  span {
    display: inline-block;
  }
}

//nav
nav {
  margin: .1rem 0;
  padding: .50em .315rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  a {
    display: inline-block;
    font-size: .26rem;
    color: black;
    text-align: center;
    .icon-img {
      background-image: url(../img/iconimg3.png);
      background-size: 1.5rem 1.5rem;
      background-position: 0 0;
      display: block;
      margin: auto;
      width: .46rem;
      height: .5rem;
    }
    .nav-i-bg1 {
      background-position: 98% 48%;
    }
    .nav-i-bg2 {
      background-position: 0 50%;
    }
    .nav-i-bg3 {
      background-position: -4% 100%;
    }
    .nav-i-bg4 {
      background-position: 50% 50%;
    }
    h4 {
      margin-top: .03em;
      color: #33373d;
      font-size: .2rem;
    }
  }
}

//banner-img 广告
.banner-img {
  width: 100%;
  padding: .06rem 0;
  background: #f6f7f9;
  a {
    display: block;
    width: 93%;
    height: 0.9rem;
    margin: auto;
  }
}

//module
.module {
  //height: 0rem;
  margin: .15rem 0;
  padding: .1rem 0;
  background-color: #fff;
  .topic-ad {
    display: block;
    width: 93%;
    margin: auto;
    span {
      font-size: .19rem;
      //line-height: .5rem;
      display: inline-block;
    }
    .topic-ad-left {
      font-size: .2rem;
      line-height: .37rem;
      display: inline-block;
      /* float: left; */
      width: .7rem;
      height: .36rem;
      text-align: center;
      color: #fff;
      border-radius: .05rem;
      background: -o-linear-gradient(right, #ff6756 0, #ee434b 100%);
      background: linear-gradient(to left, #ff6756 0, #ee434b 100%);
    }
    .module-txt {
      margin-left: .3rem;
      color: #33373d;
      font-size: .23rem;
    }
  }
  .module-img {
    float: right;
    width: .22rem;
    height: .3rem;
    margin-top:0;
    img {
      display: block;
      width: 100%;
    }
  }
}

//热门小说
.module-header {
  padding: 0 .25rem;
  border-top: .2rem solid transparent;
  h3 {
    display: inline-block;
    border-left: 2px solid #ed424b;
    padding-left: .16rem;
    font-size: .25rem;
  }
  span {
    font-size: .22rem;
    margin-left: .1rem;
    color: #969ba3;
    em {
      color: black;
      font-style: normal
    }
  }
}

.module-content {
  padding-left: .1px;
  border-top: .2rem solid transparent;
}

//移动端滑动
.slide-box {
  margin: 0.1rem;
  margin-right: 0;
  display: -webkit-box;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
//限时免费
.slide-item {
  width: 1.5rem;
  text-align: left;
  font-size: 0.23rem;
  //边角
  .charge_box{
    position: relative;
    em{
      position: absolute;
      width: 0.6rem;
      top:0;
    }
  }
  a {
    display: block;
    padding: 0 0.1rem;
    img {
      box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    }
    span {
      color: black;
      margin-top: 20px;
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #969ba3;
    }
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.05rem;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

//home-btn-line-x
.home-btn-line-x {
  margin: .2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    display: inline-block;
    width: 40%;
    padding: .1rem 0;
    font-size: .2rem;
    border-radius: 0.3rem;
    border: 1px solid #ed424b;
    color: #ed424b;
    text-align: center;
  }
}

//热门小说
.module {
  .module-header {
    .time-red {
      display: inline-block;
      padding: 0.02rem;
      width: 0.26rem;
      background-color: #ed424b;
      color: #fff;
      font-size: .17rem;
      text-align: center;
    }
    .time-black {
      display: inline-block;
      width: 0.26rem;
      padding: 0.02rem;
      background: #000;
      color: #fff;
      font-size: .17rem;
      text-align: center;
    }
  }
  /*排行榜*/
  .module-nav {
    margin-top: 0.25rem;
    text-align: center;
    a {
      display: inline-block;
      padding: 0.12rem 0.3rem;
      margin-left: -.06rem;
      text-align: center;
      color: #ed424b;
      border: 1px solid #ed424b;
      font-size: 0.22rem;
      width: 23%;
    }
    .borlenone {
      border-right: none;
    }
    .w30 {
      width: 31%;
<<<<<<< HEAD
    }
    .w23{
      width: 23%;
      padding: 0.12rem 0.25rem;
=======
>>>>>>> 41f0adecdadccb7b6c68cf4e1f484f074d00d6c9
    }
    .borleft {
      border-top-left-radius: 0.1rem;
      border-bottom-left-radius: 0.1rem;
    }
    .borright {
      border-top-right-radius: 0.1rem;
      border-bottom-right-radius: 0.1rem;
    }
    .hover {
      background: #ed424b;
      color: #fff;
    }
  }
  //选项卡1 排行榜
  .phb_content{
    position: relative;
    min-height: 3rem;
  }
  .phb_box{
    width: 6.3rem;
    position: absolute;
    top:0;
  }

  //选项卡1 分类推荐
  .fltj_content1,.fltj_content2{
    position: relative;
    min-height: 3rem;
  }
  .fltj_box1,.fltj_box2{
    width: 6.3rem;
    position: absolute;
    top:0;
  }

}

//新书抢先
.module {
  .book-content {
    display: block;
    padding: 0.25rem 0;
    margin: 0 0.25rem;
    .book-box{
      width: 1.3rem;
      .book-img {
        width: 100%;
      }
    }
    .book-txt {
      width: 4.2rem;
      display: inline-block;
      margin-left: 0.2rem;
      .book-meta{
        margin-top: 0.15rem;
      }
      h4 {
        font-size: 0.27rem;
        color: black;
      }
      p {
        margin: 0.12rem 0;
        line-height: 0.36rem;
        font-size: 0.24rem;
        color: #969ba3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      span {
        color: #969ba3;
        vertical-align: -webkit-baseline-middle;
        font-size: 0.2rem;
        float: left;
      }
      i {
        float: left;
        width: 0.25rem;
        img{
          display: block;
        }
      }
      .tag-small {
        font-style: normal;
        padding: 0.02rem 0.06rem;
        font-size: 0.17rem;
        justify-content: center;
      }
      .gray {
        border: solid #969ba3 0.01rem;
        color: #969ba3;
      }

      .red {
        border: solid #ed424b 0.01rem;
        color: #ed424b;
      }
      .blue {
        border: solid #4284ed 0.01rem;
        color: #4284ed;
      }

    }
  }
  .new_border {
    border-top: 1px solid #f0f1f2;
    border-bottom: 1px solid #f0f1f2;
  }
  //精选专题
  .jxzt-box {
    text-align: center;
    margin-top: 0.05rem;
    .jxzt {
      display: inline-block;
      width: 45%;
      padding: 0.06rem;
    }
  }
}

//footer
.footer-top {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.22rem;
  text-align: center;
  border-bottom: 1px solid #f0f1f2;
  span {
    color: black;
    font-weight: 700;
  }
  a {
    color: #4284ed;
  }
}

footer {
  padding: 0 0.25rem;
  text-align: center;

  .footer-link {
    .dark {
      color: #33373d;
    }
    a {
      display: inline-block;
      width: 18%;
      padding: 0.2rem 0;
      text-align: center;
      font-size: 0.22rem;
      color: #969ba3;
    }
  }
  .footer-copy {
    color: #969ba3;
    font-size: 0.2rem;
  }
  .footer-copy {
    padding-top: 0.2rem;
    padding-bottom: 0.15rem;
  }
}

//footer-app
.footerApp {
  background-color: #f6f7f9;
  padding: 0.2rem 0.25rem;
  .fl {
    a {
      width: 0.65rem;
      display: inline-block;
      margin-right: 0.2rem;
    }
    div {
      p {
        height: 0.3rem;
        line-height: 0.3rem;
        font-size: 0.22rem;
      }
      p:nth-child(1) {
        font-weight: 700;
        color: black;
      }
      p:nth-child(2) {
        color: #969ba3;
        font-size: 0.2rem;
      }
    }
  }
  .fr {
    a {
      display: block;
      margin-top: 0.03rem;
      color: #fff;
      font-size: 0.24rem;
      background: #ed424b;
      padding: 0.07rem 0.3rem;
      border-radius: 0.2rem;
    }
  }
}

//浮层
#btn-book {
  position: fixed;
  bottom: 1.5rem;
  right: 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.12rem;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #ed424b;
  font-size: 0.2rem;
  justify-content: center;
}

#top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  text-align: center;
  background: #000;
  opacity: 0.6;
  img {
    margin-top: 0.2rem;
    width: 0.35rem;
    height: 0.35rem;
  }
}
//login

.wrap{
  .logo{
    background: url(../img/log/logo.png) no-repeat;
    width: 3rem;
    height: 1rem;
    margin: 1.5rem auto .5rem;
    background-size: 95%;
  }
}
.login-wrap {
  padding: 0 0.4rem;
  form{
    ::-webkit-input-placeholder { color:#c0c0c0; }
    div{
      padding: 0.1rem 0;
      background: #F6F7F9;
      margin-bottom: 0.25rem;
      border-radius: 0.1rem;
      label{
        display: inline-block;
        width: 0.31rem;
        background: #F6F7F9;
        margin-left: 0.2rem;
        margin-top: 0.14rem;
        img{
          width: 100%;
          z-index:2;
        }
      }
      #pas{
        display: inline-block;
        height: 0.6rem;
        background: #F6F7F9;
        vertical-align: middle;
        width: 82%;
        padding: .1rem 0;
        line-height: .2rem;
        font-size: 0.24rem;
        text-indent: 0.2rem;
      }
      #user{
        display: inline-block;
        height: 0.6rem;
        background: #F6F7F9;
        vertical-align: middle;
        width: 82%;
        padding: .1rem 0;
        line-height: .2rem;
        font-size:0.24rem ;
        text-indent: 0.2rem;
      }

      i{
        display: inline-block;
        width: 0.35rem;
        margin-top: 0.18rem;
      }
    }
    button{
      display: block;
      width: 100%;
      height: 0.7rem;
      border-color: rgba(255, 0, 0, 0.2);
      border:1px;
      background: rgba(255, 0, 0, 0.2);
      margin: 0.5rem 0 0.1rem;
      line-height: 0.7rem;
      border-radius: 100px;
      color: #fff;
      font-size: 0.26rem;
    }
  }
  p{
    margin-top: 0.19rem;
    font-size: .23rem;
  }
  ul{
    padding:  0  0.5rem;
    text-align: center;
    li{
      display: inline-block;
      padding: 0.5rem;
      text-align: center;
      em{
        display: block;
        width: 0.8rem;
      }
      p{
        margin-top: 0.1rem;
        color: #000;
      }
    }
  }
  .other{
    text-align: center;
    a{
      display: inline-block;
      margin: auto;
      padding:.1rem;
      width: 1rem;
    }
  }
}